---
import NavbarLink from "./NavbarLink.astro";

export interface Props {
  monthSlug: string;
  edition: string;
  date: string;
}

const { monthSlug, edition, date } = Astro.props;
---

<nav class="nav sticky top-0 z-50 w-full bg-slate-800">
  <div
    class="nav-background flex items-center justify-between p-4 text-xl text-slate-300"
  >
    <details class="w-full">
      <summary class="cursor-pointer text-center text-2xl font-bold">
        Quick links
      </summary>
      <div class="quick-links flex flex-col gap-4 px-8 py-4 text-xl">
        <hr />
        <div class="flex flex-col gap-2">
          <NavbarLink href="/" text="Home" />
          <NavbarLink href="/archive" text="Archive" customClass="pl-8" />
        </div>
        <hr />
        <div class="flex flex-col gap-2 font-bold">
          <NavbarLink
            href={`/${monthSlug}`}
            text={`DevNews${edition} ${date}`}
          />
          <NavbarLink
            href={`/${monthSlug}/java`}
            text="Java"
            customClass="pl-8"
          />
          <NavbarLink
            href={`/${monthSlug}/dotnet`}
            text=".Net"
            customClass="pl-8"
          />
          <NavbarLink
            href={`/${monthSlug}/frontend`}
            text="Frontend"
            customClass="pl-8"
          />
        </div>
        <hr />
      </div>
    </details>
  </div>
</nav>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
  .retro-mono-font {
    font-family: "Press Start 2P", cursive;
  }

  .quick-links {
    hr {
      border: none;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.3),
        transparent
      );
      height: 1px;
    }
  }

  .nav {
    display: none;
  }
  @container (max-width: 1200px) {
    .nav {
      display: block;
    }
  }

  .nav-background {
    background-color: rgba(15, 23, 42, 0.5);
  }

  summary {
    list-style: none;
  }
</style>
