---
import type { CollectionEntry } from "astro:content";
import BaseHtml from "../layouts/BaseHtml.astro";
import MobileNavbar from "../components/MobileNavbar.astro";
import { Picture } from "@astrojs/image/components";
import Footer from "../components/Footer.astro";
import QuickLinks from "../components/QuickLinks.astro";

type Props = CollectionEntry<"newsletter">;

const props = Astro.props;
const { data } = props;
const { Content } = await Astro.props.render();

const monthSlug = props.slug.includes("/")
  ? props.slug.slice(0, props.slug.indexOf("/"))
  : props.slug;
---

<BaseHtml title={`Developers Newsletter ${data.date} - ${data.competence}`}>
  <div class="container-context flex grow flex-wrap justify-center">
    <MobileNavbar
      monthSlug={monthSlug}
      edition={data.edition}
      date={data.date}
    />
    <aside class="aside">
      <QuickLinks
        monthSlug={monthSlug}
        edition={data.edition}
        date={data.date}
      />
    </aside>
    <main class="flex flex-col">
      <div class="canvas flex grow flex-col bg-slate-700">
        <Picture
          src={data.imgSrc}
          widths={[200, 400, 800]}
          aspectRatio="16:9"
          sizes="(max-width: 800px) 100vw, 800px"
          alt="Image"
          loading="eager"
          class="aspect-video w-full"
        />
        <div class="sticky-title sticky border-b bg-slate-700 p-8">
          <h1 class="text-4xl font-semibold capitalize">
            {data.competence}
            {data.edition}
          </h1>
          <h2 class="text-2xl capitalize">
            {data.date}
          </h2>
        </div>
        <div class="grow px-8">
          <section id="markdown" class="markdown">
            <Content />
          </section>
        </div>
        <Footer />
      </div>
    </main>
  </div>
</BaseHtml>

<style lang="scss" is:global>
  html {
    scroll-behavior: smooth;
  }

  .container-context {
    container-type: inline-size;
  }

  .canvas {
    width: 800px;
  }
  @container (max-width: 800px) {
    .canvas {
      width: 100%;
    }
  }

  .aside {
    background-color: rgba(15, 23, 42, 0.5);
    width: 400px;
  }
  @container (max-width: 1200px) {
    .aside {
      display: none;
    }
  }

  .sticky-title {
    top: 0;
  }
  @container (max-width: 1200px) {
    .sticky-title {
      top: 4rem;
    }
  }

  .markdown {
    h1 {
      font-size: 2rem;
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    h2 {
      font-size: 1.5rem;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    h3,
    h4 {
      font-size: 1.25rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    p {
      text-align: justify;
      height: max-content;
    }

    blockquote {
      @apply rounded border border-slate-800 bg-slate-600 px-4 py-2 transition-all hover:shadow-xl;

      *:first-child {
        margin-top: 0;
      }
    }
    blockquote + blockquote {
      margin-top: 1rem;
    }

    a:link {
      color: (internal value);
      text-decoration: underline;
      cursor: pointer;
    }
    a:visited {
      color: (internal value);
      text-decoration: underline;
      cursor: pointer;
    }
    a:link:active {
      color: (internal value);
    }
    a:visited:active {
      color: (internal value);
    }

    ol,
    ul,
    menu {
      list-style: decimal;
      list-style-position: inside;
      margin: 0;
      padding: 0;
    }

    pre {
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 0.5rem;
    }

    code:not(pre code) {
      background-color: #0d1117;
      padding: 0.25rem;
      border-radius: 0.25rem;
    }
  }
</style>
